# Dependencies
/node_modules

# Compiled output
/dist
/build

# TypeScript build cache
*.tsbuildinfo

# Tests
/coverage
/.nyc_output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary files
.temp
.tmp
